{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="py-4"></div>
    <form method="GET">
        <div class="row">
            <div class="form-group col-10">
                <input type="search" class="form-control" placeholder="Enter Customer Name,Email or CPF" name="q" value="{{ request.GET.q}}">
            </div>
            <div class="form-group col-2">
                <button class="form-control btn-success">Search</button>
            </div>
        </div>
    </form>
<table class="table table-head">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Cpf</th>
            <th>Join Data </th>
            {% if user.is_authenticated %}
            <th></th>
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.cpf }}</td>
            <td>{{ customer.join_date|date:"d/m/Y" }}</td>
            {% if user.is_authenticated %}
            <td><a href="/edit_customer/{{ customer.id }}" class="btn btn-warning">Edit</a></td>
            <td><a href="/remove_customer/{{ customer.id }}" class="btn btn-danger">Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>

</table>

<div class="pagination">
    <span class="step-links">
        {% if customers.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ customers.previous_page_number }}&q={% if request.GET.q %}{{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ customers.number }} of {{ customers.paginator.num_pages }}.
        </span>

        {% if customers.has_next %}
            <a href="?page={{ customers.next_page_number }}&q={% if request.GET.q %}{{ request.GET.q }}{% endif %}">next</a>
            <a href="?page={{ customers.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</div>
{% endblock content %}